[buildout]
develop = .
parts = interpreter test

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.paypal
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.paypal [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
